/* Estilos para la barra de navegación */
.navbar {
    background-color: #45c736; /* Color de fondo de la barra de navegación */
  }
  
  .navbar-brand {
    font-weight: bold; /* Negrita para el texto del logo o nombre */
  }
  
  .navbar-nav .nav-link {
    color: #050505; /* Color del texto de los enlaces */
    margin-right: 10px; /* Espaciado entre los enlaces */
  }
  
  .navbar-nav .nav-link:hover {
    color: #0a0a0a; /* Cambio de color del texto al pasar el mouse */
  }
  
  /* Estilos para las secciones */
  section {
    padding: 60px 0; /* Espaciado interno de las secciones */
  }
  
  h2 {
    margin-bottom: 30px; /* Espaciado inferior para los títulos */
  }
  
  .bg-light {
    background-color: #0a0a0a; /* Color de fondo para las secciones con fondo claro */
  }
  #foto-perfil {
    width: 300px;
    height: 400px;
  }